In [6]:
# Import pandas library
import pandas as pd

In [7]:
# Define column names
column_names = ['ID', 'Unix Time', 'Date', 
                'Query', 'Username', 'Tweet']

In [8]:
# Load the dataset without a header and assign column names
df_projecttweets = pd.read_csv('ProjectTweets.csv', header=None, names=column_names)

In [9]:
# Check that the dataset was uploaded correctly
df_projecttweets.head(5)

,ID,Unix Time,Date,Query,Username,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [10]:
# Checking the types of data
df_projecttweets.dtypes

ID            int64
Unix Time     int64
Date         object
Query        object
Username     object
Tweet        object
dtype: object

In [7]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /home/hduser/.local/lib/python3.10/site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

Python library needs to interact with MySQL

We installed mysql-connector-python in the VM terminal *like Tutorial 9

The command used was > pip install mysql-connector-python

I used the terminal to open sql and create a new database and table, where I will store the data. 

We used the followign queries >

CREATE DATABASE tweets;

USE tweets;

CREATE TABLE tweets (
ID INT, 
Unix_Time BIGINT,
Date DATETIME,
Query VARCHAR(255),
Username VARCHAR(255),
Tweet TEXT,
PRIMARY KEY (ID)
);

I used the terminal to open sql and create a new database and table, where I will store the data

In [11]:
# Convert the 'Date' from string to datetime
df_projecttweets['Date'] = pd.to_datetime(df_projecttweets['Date'])

/tmp/ipykernel_2389/1326561356.py:2: FutureWarning: Parsed string "Mon Apr 06 22:19:45 PDT 2009" included an un-recognized timezone "PDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  df_projecttweets['Date'] = pd.to_datetime(df_projecttweets['Date'])

In [10]:
# Checking the types of data
df_projecttweets.dtypes

ID                    int64
Unix Time             int64
Date         datetime64[ns]
Query                object
Username             object
Tweet                object
dtype: object

In [12]:
import mysql.connector

In [14]:
# Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='martayclara',
    database='tweets'
)
cursor = conn.cursor()

# Insert data
for _, row in df_projecttweets.iterrows():
    sql = """INSERT INTO tweets (ID, Unix_Time, Date, Query, Username, Tweet) VALUES (%s, %s, %s, %s, %s, %s)"""
    cursor.execute(sql, tuple(row))

# Commit and close
conn.commit()
cursor.close()
conn.close()

Open Mongo in terminal

In [2]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (670 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 670.0/670.0 KB 5.8 MB/s eta 0:00:00[31m5.4 MB/s eta 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 KB 18.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.2
Note: you may need to restart the kernel to use updated packages.

I realised I needed an older version of pymongo, so I installed pymongo verion 3.5 so that it matches out MongoDB version
We did this in the terminal > pip install pymongo==3.5

In [3]:
from pymongo import MongoClient
import pandas as pd

We do not need to create a database and collection in the terminal, because MongoDB creates them automatically when we first write data to them.

We open Mongo in the terminal > mongod --bind_ip 127.0.0.1

In [ ]:
# Connect to MongoDB
client = MongoClient('localhost', 27017)
db = client['tweets_db']
collection = db['tweets']

# Insert data
collection.insert_many(df_projecttweets.to_dict('records'))

# Close connection
client.close()